body {
	font-family:tahoma;
	background: url(../img/dust.png) repeat 0 0;
}

div#main {
    width: 95%;
    margin: auto;
}

#titles {
}

h3 {
    display: inline;
    margin-top: 0;
    position: fixed;
    top: 10%;
}

h3.messages {
    left: 35%;
}

h3.stats {
    right: 15%;
}

div#data {
    margin-top: 3%;
}

ul#contacts {
    position: fixed;
    height: 80%;
    overflow: hidden;
    padding: 0;
    width: 13%;
}

div#messages {
    position: fixed;
    height: 80%;
    overflow: hidden;
    margin-left: 13%;
    width: 57%;
}

div#stats {
    position: fixed;
    height: 80%;
    overflow: hidden;
    margin-left: 72%;
    width: 23%;
}

ul {
	padding: 0;
}
.persian {
	direction: rtl;
	text-align: right;
}
.english {
    direction: ltr;
    text-align: left;
}

div.modal-body {
    padding-bottom: 0;
}

ul.pagination {
    margin: auto;
    width: 300px;
    display: block;
}
.pagination ul>li.disabled>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}

div#imageCharts img {
    max-width: 100%;
}

span#contactsTop {
    position: fixed;
    top: 93%;
    left: 13%;
}
span#contactsDown {
    position: fixed;
    top: 93%;
    left: 11%;
}
span#messagesTop {
    position: fixed;
    top: 93%;
    left: 70%;
}
span#messagesDown {
    position: fixed;
    top: 93%;
    left: 68%;
}
span#statsTop {
    position: fixed;
    top: 93%;
    left: 95%;
}
span#statsDown {
    position: fixed;
    top: 93%;
    left: 93%;
}

/*
.form-horizontal .control-group { 
	margin-bottom: 5px;
}*/

.custom-upload {
    position: relative;
    height: 40px;
    width: 350px;
    margin:30px;
}

.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    
}

.custom-upload .fake-file
{
    background:url(../img/Upload-icon.png) center right no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
}

.custom-upload .fake-file input
{
    font-size:16px;
    height:40px;
    width:300px;
}

/* ============================================================================================================================
== BUBBLE WITH A RIGHT-ANGLED TRIANGLE http://nicolasgallagher.com/pure-css-speech-bubbles/
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right {
    position:relative;
    padding:15px;
    margin:0em 0 1em;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width: 65%;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
    background:-moz-linear-gradient(#075698, #2e88c4);
    background:-o-linear-gradient(#075698, #2e88c4);
    background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.Received {
    margin-left:40px;
    background: mediumvioletred;
    float: left;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.Sent {
    margin-right:40px;
    background: maroon;
    float: right;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#075698 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
    top:-20px; /* value = - border-top-width - border-bottom-width */
    right:50px; /* controls horizontal position */
    bottom:auto;
    left:auto;
    border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent #075698; 
}

/* Variant : left
------------------------------------------ */

.triangle-right.Received:after {
    top:16px; 
    left:-40px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent mediumvioletred; 
}

/* Variant : right
------------------------------------------ */

.triangle-right.Sent:after {
    top:16px; 
    right:-40px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    left:auto;
    border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
    border-color:transparent maroon; 
}
