<style>
	div#content {
		width: 660px;
	}
</style>
<?php 
	//$categories = $this->requestAction('categories/index');
	$posts = $this->requestAction('posts/index/sort:created/direction:asc/limit:5');
	//$tags = $this->requestAction('posts/getTags');
	
	
?>
<div id="sidebar">
	<ul>
		<li class="widget">
			<h2>Categories</h2>
				<?php echo $this->element('categories');  ?>
		</li>
		<li class="widget">
			<h2>Last Posts</h2>
			<ul>
				<?php /* foreach ($posts as $post): ?>
				      <li><?php echo $post['Post']['title']; ?></li>
				<?php endforeach; */ ?>
			</ul>
		</li>
		<li class="widget">
			<h2>Test</h2>
			<ul>
				<?php $this->Tagcloud->word_cloud($posts); ?>
			</ul>
		</li>
	</ul>
</div>