body {
	font-family:tahoma;
	background: url(../img/dust.png) repeat 0 0;
}

.row-fluid {
	margin-top:10px;
}

.hide {
	display:none;
}

#result {
	margin-left:0px;
	width: 22%;
	padding: 8px 22px;
}

label {
	display:inline;
}

#persianSearchList,
.persian {
	text-align:right;
}

#persianRemoveList{
	direction:rtl;
}

.wordlist {
	height: 150px;
	overflow-y: scroll;
	width: 110px;
	border:1px #efefef solid;
	display:inline-block;
	margin-bottom:20px;
	background:white;
	
}

.wordlist > div:hover {
	background:#eeeeff;
}

.tab-content,.nav { 
	margin-left: 30%;
}

form {
	width:28%;
	margin: 12px 0px 20px;
	
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #EBEBF5; 
}

.yes, .no, thead {
	font-weight:bold;
	text-align:center;
}
.yes {
	color:green;
}
.no {
	color:red;
}

input:required:invalid, input:focus:invalid {
	background:#ffeeee;
}
input:required:valid {
	background:#eeeeff;
}
#editUser {
	margin-left:0;
}
.controls > button{
	margin-left:1% !important;
}
#searchTab > div  {
	margin: 0;
}